<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<title>Cadastro de Livro</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-light navbar-static-top"
		style="background-color: #B0C4DE">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#"> <img alt="BooksPlace"
					src="/images/book.ico" />
				</a>
			</div>
		</div>
	</nav>

	<div class="container-fluid">

		<div class="panel-default">

			<div class="card">
				<div class="card-header">
					<div class="BooksPlace-titulo-panel">
						<h5>
							<FONT FACE=Times>Novo livro</FONT>
						</h5>
					</div>
					<a class="btn btn-link BooksPlace-link-panel" href="/livros">Livros</a>
				</div>
				<div class="card-body">
					<form class="form-horizontal" method="POST" action="/livros"
						th:object=${livro} enctype="multipart/form-data">

						<div class="alert alert-success"
							th:if="${!#strings.isEmpty(mensagem)}">
							<span th:text="${mensagem}">Livro salvo com sucesso!!!</span>
						</div>

						<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
							<div th:each="detailedError : ${#fields.detailedErrors()}">
								<span th:text="${detailedError.message}"></span>
							</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-body">
								<!--
				    			<div>
				    				<img src="imagemLivro" class="rounded float-right">
				    			</div> -->

								<div class="form-group row"
									th:classappend="${#fields.hasErrors('titulo')} ? has-error">
									<label for="titulo" class="col-sm-1 control-label">Título</label>
									<div class="col-sm-4">
										<input type="text" class="form-control " id="titulo"
											placeholder="Título" name="titulo" />
									</div>
								</div>

								<div class="form-group row"
									th:classappend="${#fields.hasErrors('descricao')} ? has-error">
									<label for="descricao" class="col-sm-1 control-label">Descrição</label>
									<div class="col-sm-4">
										<input type="text" class="form-control" id="descricao"
											placeholder="Descrição" name="descricao" />
									</div>
								</div>

								<div class="form-group row"
									th:classappend="${#fields.hasErrors('descricao')} ? has-error">
									<label for="genero" class="col-sm-1 control-label">Gênero</label>
									<div class="col-sm-4">
										<input type="text" class="form-control" id="genero"
											placeholder="Gênero" name="genero" />
									</div>
								</div>

								<div class="form-group row"
									th:classappend="${#fields.hasErrors('autores')} ? has-error"
									id="autorForm">
									<label for="autor" class="col-sm-1 control-label">Autor</label>
									<div class="col-sm-4">
										<input type="text" class="form-control" id="autores"
											placeholder="Autor" name="autores" />
									</div>
									<a class="btn btn-primary" href="javascript:void(0)"
										id="addAutor"> <span class="glyphicon glyphicon-plus"
										aria-hidden="true"></span> +
									</a>

								</div>

								<div class="form-group row">
									<label for="ano" class="col-sm-1 control-label ano">Ano</label>
									<div class="col-sm-2">
										<input type="text" class="form-control" id="ano"
											placeholder="YYYY" maxlength="4" name="ano" />
									</div>
								</div>

								<div class="form-group row"
									th:classappend="${#fields.hasErrors('isbn')} ? has-error">
									<label for="isbn" class="col-sm-1 control-label">ISBN</label>
									<div class="col-sm-4">
										<input type="text" class="form-control" id="isbn"
											placeholder="ISBN" name="isbn" />
									</div>
								</div>

								<div class="form-group row">
									<label for="exemplares" class="col-sm-1 control-label">Exemplares</label>
									<div class="col-sm-2">
										<input type="text" class="form-control" id="exemplares"
											placeholder="Quantidade" name="exemplares" />
									</div>
								</div>


								<div class="form-group row">
									<label for="status" class="col-sm-1 control-label">Status</label>
									<div class="col-sm-2">
										<select class="form-control" name="status" id="{status}">
											<option th:each="status : ${todosStatusLivro}" th:value="${status}"
												th:text="${status.descricao}"></option>
										</select>
									</div>
								</div>

								<div class="form-group row">
									<label for="file">Anexar capa do livro</label> <input
										type="file" name="file" /><br></br>
								</div>

							</div>
							<div class="form-group row">
								<div class="col-sm-offset-1 col-sm-10">
									<button type="submit" class="btn btn-primary bt-salvar-livro">Salvar</button>
								</div>
							</div>
						</div>
						<script>
							$(function() {
								var scntDiv = $('#autorForm');
								$(document)
										.on(
												'click',
												'#addAutor',
												function() {
													$(
															'<div  class="form-group row">'
																	+ '<p class="p">'
																	+ '<input type="text" class="form-control" id="autores" placeholder="Autor" name="autores"/> '
																	+ '<a class="btn btn-danger" href="javascript:void(0)" id="remInput">'
																	+ '<span class="glyphicon glyphicon-minus" aria-hidden="true"></span> '
																	+ 'Remover Autor'
																	+ '</a>'
																	+ '</p>'
																	+ '</div>')
															.appendTo(scntDiv);
													return false;
												});
								$(document).on('click', '#remInput',
										function() {
											$(this).parents('p').remove();
											return false;
										});
							});
						</script>
					</form>
				</div>
			</div>
		</div>
	</div>

	<script th:src="@{/js/jquery.mask.js}"></script>
	<script th:src="@{/js/booksplace.js}"></script>
	<script src="/js/jquery-3.2.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>